#top-row {
    width: 100px;
    height: 100px;
    background-color: blue;
}
#top2-row {
    width: 100px;
    height: 100px;
    background-color: blue;
}
#top3-row {
    width: 100px;
    height: 100px;
    background-color: blue;
}
* {
    box-sizing: border-box;
}