div {
    box-sizing: border-box;
    border: 1px solid black;
}
.container {
    height:200px;
    width: 500px;
    display: flex;
    flex-direction: column;
}
.top-container, .bot-container {
    background-color: gray;
    flex-basis: 20%;
}
/* .bot-container {
    background-color: gray;
    flex-basis: 20%;
} */
.body {
    flex-basis: 60%;
    display: flex;
    /* flex-direction: row; */
}
#box1 {
    flex-basis: 30%;
    background-color: blue;
}
#box2 {
    flex-basis: 50%;
    background-color: blueviolet;
}
#box3 {
    flex-basis: 20%;
    background-color: purple;
}
.container-2 {
    height: 300px;
    width: 500px;
    display: flex;
    flex-direction: column;
}
#box2-1 {
    flex-basis: 100%;
    background-color: maroon;
}
.container-3 {
    height: 1000px;
    width: 500px;
    display: flex;
}
#box2-2 {
    flex-basis: 30%;
    background-color: aquamarine;
}
.container-4 {
    display: flex;
    flex-direction: column;
    flex-basis: 70%;
}
#box2-3 {
    flex-basis: 70%;
    background-color: bisque;
}
#box2-4 {
    flex-basis: 30%;
    background-color: dimgrey;
}
.container3-1 {
    display: flex;
    flex-direction: column;
    height: 300px;
    width: 500px;
}
#box3-1 {
    flex-basis: 100%;
    background-color: green;
}
.container3-2 {
    display: flex;
    flex-direction: row;
    height: 500px;
}
#box3-2 {
    flex-basis: 30%;
    background-color: blueviolet;
}
.container3-3 {
    display: flex;
    flex-direction: column;
    flex-basis: 70%;
}
#box3-5 {
    flex-basis: 50%;
    background-color: darkgoldenrod;
}
.container3-4 {
    display: flex;
    flex-direction: row;
    flex-basis: 50%;
}
#box3-3 {
    flex-basis: 70%;
    background-color: deepskyblue;
}
#box3-4 {
    flex-basis: 30%;
    background-color: indianred;
}
.container4-1 {
    display: flex;
    height: 300px;
    width: 500px;
    flex-direction: column;
}
#box4-1 {
    flex-basis: 20%;
    background-color: darksalmon;
}
#box4-6 {
    flex-basis: 20%;
    background-color: darksalmon;
}
.container4-2 {
    display: flex;
    flex-basis: 60%;
}
#box4-2 {
    flex-basis: 30%;
    background-color: firebrick;
}
.container4-3 {
    display: flex;
    flex-basis: 70%;
    background-color: darkgoldenrod;
    justify-content: space-between;
    align-items: flex-end;
}
#box4-3, #box4-4, #box4-5 {
    flex-basis: 30%;
    width: 100px;
    height: 100px;
}
.container5-1 {
    display: flex;
    flex-direction: column;
    height: 300px;
    width: 500px;
}
.container5-2 {
    display: flex;
    flex-basis: 30%;
    background-color: skyblue;
}
#box5-1 {
    flex-basis: 20%;
}
#box5-2, #box5-3 {
    flex-basis: 40%;
}
.container5-3 {
    flex-basis: 70%;
    display: flex;
}
.container5-4 {
    flex-basis: 35%;
    background-color: lightsalmon;
    justify-content: space-between;
    flex-direction: column;
}
#box5-4, #box5-5, #box5-6 {
    /* flex-basis: 40%; */
    height: 50px;
}
#box5-7 {
    flex-basis: 15%;
    /* flex-direction: column; */
    background-color: aquamarine;
}
.container5-5 {
    flex-direction: row;
}
