.area1 {
    background-color: red;
}
.area2 {
    background-color: orange;
}
.area3 {
    background-color: yellow;
}
.area4 {
    background-color: green;
}
.area5 {
    background-color: blue;
}
.inline {
    display: inline;
}
.block {
    display: block;
    height: 50px;
    width: 300px;
}
.inline-block {
    display: inline-block;
}