* {
        box-sizing: border-box;
        /* border: 0.5px solid black; */
}
body {margin: 0;}
main {
    width: 1140px;
    margin: auto;
}
header {
    height: 180px;
    display: flex;
}
header > section:nth-child(1), header > section:nth-child(3) {flex-basis: 15%;}
header > section:nth-child(2) {
    flex-basis: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
}
/* logo */
header > section:nth-child(1) {
    display: flex;
    justify-content: center;
    align-items: center;
}
#home-logo {width: 180px;}
/* search-style */
.search-area {width: 600px;}
.search-area fieldset {
    border: 2px solid #f37e1e;
    border-radius: 5px;
    margin: 0px;
    padding: 2px;
    display: flex;
}
#query {
    padding: 10px;
    font-size: 15px;
    font-weight: bold;
    border: none;
    outline: none;
    flex-basis: 92%;
}
#search-btn {
    flex-basis: 8%;
    border: none;
    outline: none;
    cursor: pointer;
    border-radius: 3px;
    font-size: 15px;
    color: #f37e1e;
    background-color: transparent;
}
/* navigation-bar */
nav {
    height: 50px;
    border-bottom: 3px solid #f37e1e;
    position: sticky;
    /* sticky : stick on border on scroll */
    /* top: 0 = top sticky */
    top: 0; 
    background-color: white;
}
#navigation-bar > ul {
    list-style: none;
    display: flex;
    margin: 0px;
    padding: 0px;
    height: 100%;
    justify-content: center;
}
#navigation-bar li {flex-basis: 150px;}
#navigation-bar a {
    /* text-underline - none */
    text-decoration: none;
    font-size: 13px;
    font-weight: bold;
    color: black;
    height: 100%;
    display: block;
    text-align: center;
    line-height: 50px;
}
#navigation-bar a:hover {
    background-color: #f37e1e;
    color: white;
    transition-duration: 0.2;
    border-radius: 5px;
}
/* content */
.content {
    height: 800px;
    display: flex;
}
.content-1 {flex-basis: 70%;}
.content-2 {flex-basis: 30%;}

/* login-style */
form[name="login-form"] {
    height: 150px;
    padding: 10px;
    margin-top: 10px;
    display: flex;
    flex-direction: column;
}
form[name="login-form"] > label {
    margin-top: 5px;
    font-size: 15px;
    flex-basis: 20%;
}
input[name="saveId"] {
    /* save btn */
    margin-top: 5px;
}
#signup-find-area {
    margin-top: 10px;
    font-size: 15px;
    flex-basis: 20%;
}
#signup-find-area > a {
    color: black;
    text-decoration: none;
    font-size: 15px;
}
#signup-find-area > span {
    padding: 8px;
}
#id-pw-area {
    flex-basis: 60%;
    display: flex;
    margin: 0;
    padding: 0;
    border: 2px solid #ddd;
    border-radius: 3px;
}
#id-pw-area > section:first-child {
    flex-basis: 75%;
    display: flex;
    flex-direction: column;
}
#id-pw-area > section:last-child {flex-basis: 25%;}
#id-pw-area input {
    border: none;
    outline: none;
    padding: 5px;
    list-style: none;
    flex-basis: 50%;
    border-right: 2px solid #ddd;
}
#id-pw-area input:first-child {border-bottom: 2px solid #ddd;}
#id-pw-area input:focus {
    border: 2px solid #f37e1e;
    background-color: rgba(243, 126, 30, 0.1);
}
/* login-btn */
#id-pw-area button {
    width: 100%;
    height: 100%;
    background-color: transparent;
    border: none;
    cursor: pointer;
}
#id-pw-area button:hover {
    background-color: rgba(243, 126, 30, 0.6);
    border-radius: 3px;
    transition-duration: 0.2;
}
/* footer */
footer {
    height: 200px;
    background-color: rgba(243, 126, 30, 0.3);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
footer > p {
    font-weight: bold;
    color: rgb(70, 70, 70);
}
footer > section > * {
    font-size: 14px;
}
footer a {
    color: rgb(70, 70, 70);
    text-decoration: none;
    font-weight: bold;
}
footer span {
    padding: 0 10px;
    color: rgb(70, 70, 70);
    font-weight: bold;
}
/* 반응형 모바일 */
@media all and (max-width: 767px) {
    
    main {
        /* vw = viewport width */
        width: 100vw;
    }
    header {
        display: none;
    }
    nav {
        width: 100%;
        border-bottom: none;
        height: auto;
    }
    nav > * {
        display: flex;
        flex-direction: column;
    }
    nav li {
        flex-basis: auto;
        border-bottom: 1px solid #ddd;
    }
    .content {
        flex-direction: column;
    }
    footer > section > a {
        font-size: 10px;
    }
    footer > p {
        font-size: 10px;
    }
    footer {
        height: 150px;
    }
}