/* color 속성 */

#color-ul >li {
    font-size: 24px;
    font-weight: bold;
}
#color-ul > li:nth-child(1) {
    color: blue;
}
#color-ul > li:nth-child(2) {
    color: #8918f5
}
#color-ul > li:nth-child(3) {
    color: rgb(255, 255, 25)
}
#color-ul > li:nth-child(4) {
    color: rgba(130, 24, 255, 0.1)
}
#color-ul > li:nth-child(5) {
    color: hsl(40, 46%, 50%)
}
#color-ul > li:nth-child(6) {
    color: hsla(60, 27%, 20%, 0.7)
}
/* text-deco */
#deco-ul > li:nth-child(1) {
    text-decoration: underline;
}
#deco-ul > li:nth-child(2) {
    text-decoration: line-through;
}
#deco-ul > li:nth-child(3) {
    text-decoration: overline;
}
#deco-ul > li:nth-child(4) > a {
    text-decoration: none;
}
/* text-align */
#align-test {
    width: 350px;
    border: 2px solid black;
}
#align-test > p:nth-child(1) {
    text-align: left;
    /* left = default */
}
#align-test > p:nth-child(2) {
    text-align: right;
}
#align-test > p:nth-child(3) {
    text-align: center;
}
#align-test > p:nth-child(4) {
    text-align: justify;
    margin: 3%;
}
#div1 > div {
    width: 50px;
    height: 50px;
    background-color: forestgreen;
    display: inline-block;
}
#div1 {
    text-align: center;
}
#line-test > p:last-child {
    line-height: 30px;
}
#center-test {
    width: 200px;
    height: 200px;
    border: 1px solid black;
    text-align: center;
}
#center-test > span {
    background-color: rgb(200, 150, 20);
    color: white;
    line-height: 200px; 
    /* line-height == height (center-test) */
}
#letter-test {
    letter-spacing: 10px;
}
#shadow-test {
    background-color: black;
    padding: 30px;
}
#shadow-test > p {
    font-size: 75px;
    font-weight: bold;
}
#shadow-test > p:first-child {
    color: orange;
    text-shadow: 3px 3px white;
}
#shadow-test > p:nth-child(2) {
    color: white;
    text-shadow: 5px 5px 5px #bbb;
}
#shadow-test > p:nth-child(3) {
    color: rgba(255, 255, 255, 0.9);
    text-shadow: 0px 0px 10px magenta;
}
#shadow-test > p:nth-child(4) {
    text-shadow: 0px 0px 4px #ccc,
                0px -5px 4px #ff3,
                2px -10px 6px #fd3,
                -2px -15px 11px #f80,
                2px -20px 18px #f20;
}
