.cls-test {
    width: 400px;
    height: 150px;
    border: 1px solid black;
}
#name-div {
    width: 300px;
    height: 100px;
    border: 1px solid black;
}
/* target-div = css-div */
[target-div="css-div"] {
    width: 200px;
    height: 200px;
    border: 1px solid black;
}
[target-div="css-div"] > div {
    height: 50%;
}
[target-div="css-div"] > div:first-child {
    background-color: aquamarine;
}
[target-div="css-div"] > div:last-child {
    background-color: brown;
}
.chatting, .chatting * {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
.chatting {
    width: 360px;
    border: 1px solid black;
    margin: 50px, 20px;
}
#chatting-bg {
    background-color: rgb(178, 199, 217);
    width: 100%;
    height: 400px;
    /* overflow == scroll */
    /* overflow: auto == automaticlly make scroll when spilled out */
    /* overflow: hidden == hide spilled out */
    overflow: auto;
}
/* chatting 내용 */
#chatting-bg > p {
    margin: 20px 10px;
    text-align: right;
}
#chatting-bg > p > span {
    background-color: rgb(254, 234, 51);
    border-radius: 5px;
    padding: 5px;
}
/* 입력 */
#chatting-input {
    width: 100%;
    display: flex;
    height: 25px;
}
#chatting-input > input {
    height: 100%;
    width: 90%;
    outline: none;
    padding-left: 5px;
}
#chatting-input > button {
    width: 10%;
    height: 100%;
}